<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Rating: <%= review.rating %>, <%= review.content %></li>
  <% end %>
</ul>
<br>
<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to "Back to list", restaurants_path %>
